@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body{
  overflow-x: hidden;
  color: #1A1A1A;
  background-color: #FEFEFE;
  scroll-behavior: smooth;
}

.App {
  height: auto;
}

#root{
  height: 100%;
}


.side{
  position: relative;
  right: 7%;
}

.abtside{
  position: relative;
  left:26%;
}


@media (max-width: 768px) {  
  .nav-menu-wrapper {
    display: none;
  }

  .logo {
    width: 36%;
    position: relative;
    right: 7%;
  }


}