*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #F3EAF4;
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

.html{
  scroll-behavior: smooth;
}

#root{
  height:100%;
}

.App{
  height: auto; 
}